img{
    width:100%;
    object-fit: contain;
    border-radius: 6px;
}
.card{
    width: 90%;
   
    /* border: 1px solid black; */
    margin-bottom: 10px;
    break-inside: avoid;
    background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 16px;




  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border-radius: 6px; 
  /* Rounded corners */
  /* padding: 20px 40px; */
  padding: 20px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Light shadow */
  backdrop-filter: blur(10px); /* Background blur */
  -webkit-backdrop-filter: blur(10px); /* Background blur for Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Optional border */
  transition: border 0.3s, border-radius 0.3s;
  text-align: justify;
}
.card:hover{
  cursor: pointer;
}
