
h1:hover{
     text-decoration: underline;
     cursor: pointer;
}
input{
     width: 95%;
     padding: 10px 15px;
     margin-right: 10px;
     border-radius: 6px;
}

h1{
     font-size: 24px;
     cursor: pointer;
     /* font-weight: bold; */
     background: linear-gradient(to right, hotpink, blue);
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
     position: relative;
     text-decoration: none;
     padding: 0;
     transition: all 0.3s ease;
     display: block;
     margin:5px 0;
     width: fit-content;
     font-weight: 400;
}


h1::after {
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     width:100%;
     display: inline;
     height: 2px;
     background: white;
     transform: scaleX(0);
     transform-origin: bottom right;
     transition: transform 0.3s ease;
     font-size: larger;
 }
 
 h1:hover::after {
    
     transform: scaleX(1);
     transform-origin: bottom left;
 }
 suggest-container{
     display: grid;
     grid-template-columns: 1fr;
 }